.block{ /* Модель блока */
    color: white; 
    font-family: Comic Sans MS;
    background-color: black;
    width: 300px;
    height: 310px; 
    text-align: center;
    padding: 10px;
    margin: 0 auto; /* Выравниваем по ценру */
}
button {
    border-radius: 4px;
    background-color: #e1e1e1; /* Серый цвет */
    transition: all 0.5s ease-in; /* Свойство, отвечающее за анимацию */
}
button:hover{ /* работает при наведении */
    border-radius: 16px;
    background-color: #00ff00; /* Как зелёный, но ярче*/
}
